<div class="card card-list">
    <ul class="list">
        <h2 class="list-title">Professores</h2>
        <input type="search" name="filter" ng-model="query" class="search-bar margin-vertical two-thirds" placeholder="Busca" />
        <li class="list-item text-left" ng-show="!query.length || !(professores | filter: query).length" ui-keypress="{13:'save(novoProfessor)'}">
            <span>Novo professor:</span>
            <input type="text" name="nome" ng-model="novoProfessor.nome" placeholder="Nome"/>
            <button type="button" class="button dark hover-shadow float-right" ng-click="save(novoProfessor)">
                <i class="fa fa-plus fa-fw"></i>
            </button>
        </li>
        <li ng-repeat="professor in professores | filter: query | orderBy: 'nome'" class="list-item text-left">
            <span ng-show="!professor.editing" ng-click="edit(professor)" class="clickable">{{professor.nome}}</span>
            <input type="text" name="nome" ng-model="professor.nome" ng-show="professor.editing" 
                show-focus="professor.editing" ui-keypress="{13:'update(professor)'}"/>
            <div class="float-right">
                <button type="button" class="button normal hover-shadow" ng-click="edit(professor)" ng-show="!professor.editing">
                    <i class="fa fa-edit fa-fw"></i>
                </button>
                <button type="button" class="button red hover-shadow" ng-click="delete(professor)" ng-show="!professor.editing">
                    <i class="fa fa-close fa-fw"></i>
                </button>
                <button type="button" class="button dark hover-shadow" ng-click="update(professor)" ng-show="professor.editing">
                    <i class="fa fa-check fa-fw"></i>
                </button>
                <button type="button" class="button darker hover-shadow" ng-click="edit(professor)" ng-show="professor.editing">
                    <i class="fa fa-close fa-fw"></i>
                </button>
            </div>
        </li>
        <li ng-show="!professores.length" class="list-item">Não há professores cadastrados</li>
    </ul>
</div>