<header class="header clearfix">
    <h2 class="no-margin float-left">
        <a href="#/home"><span class="fa">&#xf13d;</span> Farol</a>
    </h2>
</header>

<section class="card clearfix margin">
    <div ng-show="isLogin">
        <h2>Login</h2>
        <form ng-submit="login(user)">
            <input type="text" placeholder="Username" ng-model="user.username" required>
            <br>
            <input type="password" placeholder="Senha" ng-model="user.password" required>
            <br/>
            <button class="button normal" type="submit">Entrar</button>
            <br>
            <a ng-click="isLogin = false">Criar Conta</a>
        </form>
    </div>
    <div ng-show="!isLogin">
        <h2>Criar conta</h2>
        <form ng-submit="register(newUser)">
            <input type="text" placeholder="Nome" ng-model="newUser.nome" required>
            <br>
            <input type="text" placeholder="Username" ng-model="newUser.username" required>
            <br>
            <input type="text" placeholder="E-mail" ng-model="newUser.email" required>
            <br>
            <input type="password" placeholder="Senha" ng-model="newUser.password" required>
            <br/>
            <button class="button normal" type="submit">Criar conta</button>
            <br>
            <a ng-click="isLogin = true">Entrar</a>
        </form>
    </div>
</section>
